<template>
<v-container class="grey lighten-5 ma-0 pa-0   " fluid >
    <v-row  class="ma-0 pa-0 accent" fluid >
        <v-col md="2" class="ma-0 pa-0 " >
     <v-card
    class="mx-auto"
    height="100vh"
    width="100%"
  >
    <v-navigation-drawer
      class="primary white--text accent-4 rounded-0"
      light
      permanent
      width="100%"
    >
                     <v-list>

                       <router-link to="/Billetera">
        <v-list-item
          class="secondary--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="secondary" >mdi-wallet</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Billetera</v-list-item-title>
          </v-list-item-content>
            </v-list-item>
            </router-link>
              <router-link to="/Cuentas">
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-account-box</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cuentas</v-list-item-title>
          </v-list-item-content>

            </v-list-item>
</router-link>
 <router-link to="/"  @click.native="borrarToken">
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-logout</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cerrar Sesion</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

     </router-link>

      
      </v-list>
  </v-navigation-drawer>
  </v-card>
</v-col>

<v-col md="10" class="ma-0 pa-0" >

  <div>
    <v-app-bar
      color="primary text-white accent-4 light"
      dense
      
    >
      <v-toolbar-title class=" info--text">
        
            
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }" >
        <v-btn
          color="primary"
          class=" info--text"
          dark
          v-bind="attrs"
          v-on="on"
        >
           {{bancoprimero}}: {{saldoprimero}} USD
        </v-btn>
      </template  >
      <template  >
      
      
      <v-list >
        <v-list-item 

          v-for="(cuenta, index) in cuentas"
          :key="index"
        >
          <v-btn class="white" elevation="0"  @click="seleccionarCuenta(index)" > <v-list-item-title>{{ cuenta.nombrebanco }} - {{ cuenta.tipocuenta}}</v-list-item-title></v-btn> 
        </v-list-item>
      </v-list>
      </template>
    </v-menu>
  </div>
        
      
        
        
        
        </v-toolbar-title>

      <v-spacer></v-spacer>

<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="mt-4 mb-4 secondary white--text"
          
          dark
          v-bind="attrs"
          v-on="on"
          
        >
          Agregar Transaccion
        </v-btn>
      
      </template>


      <v-card>
        <v-form v-model="valid"  ref="form" lazy-validation @submit.prevent="agregarTransaccion" >
        <v-card-title class="ml-6">Agregar Transaccion</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          

          <v-row class="pt-5">

<v-col md="4">
<div>
         <v-select
          class="rounded-xl"
          v-model="accion"
          :items="acciones"
          outlined
          required
          filled
          label="Accion (Ingreso/Egreso)"
        ></v-select>
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
         v-model="categoria"
          :items="categorias"
          outlined
          required
          filled
          label="Categoria"
        ></v-select>
</div>
</v-col>
<v-col md="4">
           <div>
    <v-text-field
    class="rounded-xl"
      v-model="cantidad"
      :rules="cantidadReglas"
      outlined
      filled
      label="Cantidad"
      required
    ></v-text-field>
            </div>

</v-col>
  </v-row>

            <div>
      <v-text-field
      class="rounded-xl"
      v-model="nota"
      :counter="140"
      :rules="notaReglas"
      filled
      outlined
      label="Nota"
      required
    ></v-text-field>
            </div>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            :disabled="!valid"
            color="blue darken-1"
            text
            @click="validate"
            type="submit"
          >
            Guardar
          </v-btn>
        </v-card-actions>

        </v-form>
            <v-alert type="success" dense v-if="alerta" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                        </v-alert>
                    <v-alert type="error" dense v-if="alerta2" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                    </v-alert>
      </v-card>
    </v-dialog>
  </v-row>


</v-col>


  



    </v-app-bar>
<v-row justify="center">

<v-col md="8" class="ma-0 mt-4 pt-4" >
  
 <v-data-table
    :headers="headers"
    :items="transacciones"
    sort-by="id"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Mis Transacciones</v-toolbar-title>
       
        <v-spacer></v-spacer> <!--
        <v-dialog v-model="dialog2" max-width="500px">
          <template v-slot:activator="{ on }">
           <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="editedItem.title" label="title"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field type="text" v-model="editedItem.content" label="content"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>  -->
      </v-toolbar>
    </template>
    <template  v-slot:item.action="{ item }" >
      <v-icon
        class="mr-2"
        
        color="blue"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        
        color="red"
      >
        mdi-delete
      </v-icon>
    </template>
    <!--
      pruebas
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
      
    </template>-->
  </v-data-table>




</v-col>

</v-row>

  </div>


</v-col>





    </v-row>
  </v-container>
</template>






<script>

import axios from "axios";

export default {
    name: 'Billetera',
     data () {
      return {
        token:'',
        config: '',
        accion : '',
        categoria: '',
        cantidad: '',
        nota: '',
        valid: true,
        categorias: '',
     
        cuentas:[],
        mensaje:'',
        alerta:'',
        alerta2:'',
        bancoprimero:'',
        saldoprimero:'',
        idcuenta_actual:'',
        selecciono:false,
        idactual:0,


        cantidadReglas: [
                v => !!v || 'La cantidad es requerida',
                v => v <= 999999999999999999999999999999999999 || 'Debe ser un dato numerico',
        ],
        notaReglas: [
                v => !!v || 'La nota es requerida',
                v => v.length <= 140 || 'Menos de 140 caracteres',
        ],


          headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'idt'
          },
          { text: 'FECHA', value: 'fechat' },
          { text: 'ACCIÓN', value: 'tipot' },
          { text: 'CATEGORÍA', value: 'categoriat' },
          { text: 'MONTO', value: 'montot' },
          { text: 'Actions', value: 'action', sortable: false },
        ],
        transacciones: [],
        
        acciones: ['ingreso', 'retiro'],
        dialogm1: '',
        dialog: false,
        dialog2: false,
      }


      
      },

//pruebas
          computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },


//pruebas


      methods: {
          validate () {
            this.$refs.form.validate()
            this.idcategoria = this.categorias.indexOf(this.categoria)+1;   
            console.log("la id de la categoria es ",this.idcategoria)
        },
          async agregarTransaccion (){
            var payload = {
              id_cuenta: this.idcuenta_actual, 
              tipo_transaccion: this.accion, 
              id_categoria: this.idcategoria, 
              monto: this.cantidad, 
              nota: this.nota
            };
            await this.axios.post('http://localhost:3000/dashboard',payload,this.config).then(response => {
                console.log(response.data.msg);
                this.mensaje = response.data.msg;
                this.alerta = true;
                this.alerta2 = false;
                this.actualizarTransacciones ();
                this.obtenerCuentas ()
                this.timeout();
            })
            .catch(error => {
                 this.mensaje = error.response.data.msg;
                this.alerta2 = true;
                this.timeout2 ()
            })
        },

         timeout(){
                setTimeout(  ()=>{
                    this.dialog = false;
            },1000);
        },
         timeout2(){
                setTimeout(  ()=>{
                    this.alerta2 = false;
            },3000);
        },
        borrarToken() {
        localStorage.removeItem('tokenUsuario');
      },
        async actualizarTransacciones () {

            this.transacciones = [];
             this.token = localStorage.getItem('tokenUsuario');
              console.log(this.token);

            var params = {
              id_cuenta:this.idcuenta_actual,
            }
              
            var headers = {
              Authorization:this.token,
            }

              var self = this;

          const transaccionesDB = await this.axios.get('http://localhost:3000/dashboard',{params,  headers})
                .catch(function (errorbancos) {
                  console.log(errorbancos);
                })
              
            
              await transaccionesDB.data.forEach(element => {
              console.log(element);
              let item = {}
              item.idt = element.id_transaccion;
              item.fechat = element.fecha_transac;
              item.tipot = element.tipo_transaccion;
              item.categoriat = element.tipo_categoria;
              item.montot = element.monto;
              self.transacciones.push(item);
              })
              
              

          },

            seleccionarCuenta (item) { 
              var self = this;
            self.bancoprimero = self.cuentas[item].nombrebanco;
            self.saldoprimero = self.cuentas[item].saldo;
            self.idcuenta_actual = self.cuentas[item].idcuenta;
            self.selecciono = true;
            self.idactual= item,
            this.actualizarTransacciones () ;
          },

          async obtenerCuentas (){

            this.cuentas = [];
            this.token = localStorage.getItem('tokenUsuario');
           
             var self = this;
            
            const cuentasDB = await  this.axios.get('http://localhost:3000/AccountsBanks',this.config)
              .catch( function (error){
                  console.log(error.response.data.error);
                  if (error.response.data.error === "token no es válido"){
                    this.borrarToken();
                    this.$router.push({ path: '/' });
                  }
              })
         

             await cuentasDB.data.forEach(element => {
              console.log(element);
              let item = {}
              item.idcuenta = element.id_cuenta;
              item.nombrebanco = element.nombre_banco;
              item.saldo = element.saldo;
              item.tipocuenta = element.tipo_cuenta;
              self.cuentas.push(item);
              });
              
              
              if (self.selecciono == true){
                self.seleccionarCuenta (self.idactual)
              }
              if (self.selecciono == false){
                  self.tomarCuenta ()
              }

          },
          

            tomarCuenta () { 
              console.log(this.cuentas);
              var self = this;
            self.bancoprimero = self.cuentas[0].nombrebanco;
            self.saldoprimero = self.cuentas[0].saldo;
            self.idcuenta_actual = self.cuentas[0].idcuenta;
             this.actualizarTransacciones () ;
          },
          




      },

       mounted: function (){
  
        var self = this;
        
        this.token = localStorage.getItem('tokenUsuario');
        console.log(this.token);
        this.config = {
          headers: {
            Authorization:this.token,
          }
        };

        this.axios.get('http://localhost:3000/categoria',this.config)
          .then(function (response) {
             self.categorias = response.data.map(categoria => categoria.tipo_categoria);
              console.log('esto');
            console.log(self.categorias);
          })
          .catch(function (errorcategorias) {
            console.log(errorcategorias);
          })
          .then(function () {
            
          });

      

            this.obtenerCuentas ();

            this.tomarCuenta ();
            
         
          
        

        }
        
      
        
        
    
}  

 




    
</script>

