<template>
<v-container class="grey lighten-5 ma-0 pa-0   " fluid >
    <v-row  class="ma-0 pa-0 accent" fluid >
        <v-col md="2" class="ma-0 pa-0 " >
     <v-card
    class="mx-auto"
    height="100vh"
    width="100%"
  >
    <v-navigation-drawer
      class="primary white--text accent-4 rounded-0"
      light
      permanent
      width="100%"
    >
                     <v-list>

                       <router-link to="/Billetera">
        <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-wallet</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Billetera 1</v-list-item-title>
          </v-list-item-content>
            </v-list-item>
            </router-link>
              <router-link to="/Cuentas">
             <v-list-item
          class="secondary--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="secondary" >mdi-account-box</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cuentas</v-list-item-title>
          </v-list-item-content>

            </v-list-item>
</router-link>
 <router-link to="/"  @click.native="borrarToken"> 
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-logout</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cerrar Sesion</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

     </router-link>


      
      </v-list>
  </v-navigation-drawer>
  </v-card>
</v-col>

<v-col md="10" class="ma-0 pa-0" >

  <div>
    <v-app-bar
      color="primary text-white accent-4 light"
      dense
      
    >
      <v-toolbar-title class=" info--text">
        
            
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          class=" info--text"
          dark
          v-bind="attrs"
          v-on="on"
        >
           {{bancoprimero}}: {{saldoprimero}} USD
        </v-btn>
      </template>
      <v-list>
        <v-list-item

          v-for="(cuenta, index) in cuentas"
          :key="index"
        >
         <v-btn class="white" elevation="0" @click="seleccionarCuenta(index)" ><v-list-item-title>{{ cuenta.nombrebanco }} - {{ cuenta.tipocuenta}} </v-list-item-title></v-btn> 
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
        
       
        
        
        
        </v-toolbar-title>

      <v-spacer></v-spacer>






    </v-app-bar>
<v-row justify="center">

<v-col md="8" class="ma-0 mt-4 pt-4" >

    <v-card
  elevation="9"
  outlined


> 
<v-card-title class="secondary--text">
     <v-icon class="mr-3" color="secondary" >mdi-account</v-icon>  TUS CUENTAS
</v-card-title>
 
<v-row  v-for="(cuenta, index) in cuentas"
          :key="index" class="pt-0 ">



  <v-col md="5 text-center">
    <v-card-subtitle class="ml-3 pt-0 ">{{ cuenta.nombrebanco }} - {{ cuenta.tipocuenta }}</v-card-subtitle>
  </v-col>
  <v-col md="2 secondary--text ">
    <v-card-subtitle class="ml-3 pt-0 ">{{ cuenta.saldo }} $</v-card-subtitle>
  </v-col>
  <v-spacer></v-spacer>
  <v-col md="3" class=" mt-2 pt-0 ">
     <v-btn class="pl-0 pr-0">
     <v-icon class="mr-0" color="black" >mdi-delete</v-icon>
     </v-btn>
      <v-btn class="pl-0 pr-0">
    <v-icon color="black" >mdi-pencil</v-icon>
    </v-btn>
  </v-col>

</v-row>

<v-row justify="center" class="pb-4 mb-4">

  

<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
 


        <v-btn
          color="accent  black--text"
          v-bind="attrs"
          v-on="on"
        >
        <v-icon class="mr-2 " >mdi-account-plus</v-icon>
        Agregar
      </v-btn>



      </template>


      <v-card>
        <v-form ref="form" @submit.prevent="agregarCuenta" v-model="valid"   lazy-validation>
        <v-card-title>Añadir cuenta</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          <v-row class="pt-5" >

<v-col md="12">
<div>
      <v-select
         class="rounded-xl"
          :items="bancos"
          v-model="nombrebanco"
          required
          outlined
          filled
          label="Nombre de la cuenta"
        ></v-select>
    
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
          :items="tiposcuenta"
          v-model="tipocuenta"
          outlined
          required
          filled
          label="Tipo de cuenta"
        ></v-select>
</div>
</v-col>

  </v-row>


        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
           :disabled="!valid"
             @click="validate"
             type="submit"
          >
            Guardar
          </v-btn>
        </v-card-actions>
        </v-form>
        <v-alert type="success" dense v-if="alerta" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                        </v-alert>
                    <v-alert type="error" dense v-if="alerta2" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                    </v-alert>
      </v-card>
    </v-dialog>
  </v-row>


</v-col>


      

</v-row>



</v-card>



</v-col>

</v-row>

  </div>


</v-col>





    </v-row>
  </v-container>
</template>



<script>
export default {
    name: 'Cuentas',
     data () {
      return {
        token:'',
        config:'',
        valid:true,
        bancos:'',
        dialogm1: '',
        dialog: false,
        nombrebanco: '',
        alerta:false,
        alerta2:false,
        mensaje:'',
        idbanco: '',
        tipocuenta: '',
        bancoprimero: '',
        saldoprimero: '',
        nombrecuentas:'',
        saldocuentas:'',
        idcuenta_actual:'',
        selecciono:false,
        idactual:0,
        tiposcuenta: ['Ahorro', 'Corriente'],
        cuentas:'',
      }
     },
     methods: {
       borrarToken() {
        localStorage.removeItem('tokenUsuario');
      },
       
        validate () {
            this.$refs.form.validate();
            this.idbanco = this.bancos.indexOf(this.nombrebanco)+1;   
            console.log("la id del banco es ",this.idbanco)

        },
       async agregarCuenta(){

          var payload = {
                id_banco: this.idbanco, 
                tipo_cuenta: this.tipocuenta 
            };
             await this.axios.post('http://localhost:3000/AccountsBanks',payload,this.config).then(response => {
                console.log(response.data.msg);
                this.mensaje = response.data.msg;
                this.alerta = true;
                this.alerta2 = false;

                this.timeout();
            })
            .catch(error =>   {
                
                console.log(error.response.data.msg);
                this.mensaje = error.response.data.msg;
                this.alerta2 = true;
                this.timeout2 ()
            })

       },
        timeout(){
                setTimeout(  ()=>{
                    this.dialog = false;                    
                    this.actualizarCuentas();
                    this.alerta = false;
            },1000);
        },
         timeout2(){
                setTimeout(  ()=>{
                    this.alerta2 = false;
            },3000);
        },

       
            seleccionarCuenta (item) { 
              var self = this;
            self.bancoprimero = self.cuentas[item].nombrebanco;
            self.saldoprimero = self.cuentas[item].saldo;
            self.idcuenta_actual = self.cuentas[item].idcuenta;
            self.selecciono = true;
            self.idactual= item,
            this.actualizarTransacciones () ;
          },

          async obtenerCuentas (){

            this.cuentas = [];
            this.token = localStorage.getItem('tokenUsuario');
           
             var self = this;
            
            const cuentasDB = await  this.axios.get('http://localhost:3000/AccountsBanks',this.config)
              .catch( function (error){
                  console.log(error.response.data.error);
                  if (error.response.data.error === "token no es válido"){
                    this.borrarToken();
                    this.$router.push({ path: '/' });
                  }
              })
         

             await cuentasDB.data.forEach(element => {
              console.log(element);
              let item = {}
              item.idcuenta = element.id_cuenta;
              item.nombrebanco = element.nombre_banco;
              item.saldo = element.saldo;
              item.tipocuenta = element.tipo_cuenta;
              self.cuentas.push(item);
              });
              
              
              if (self.selecciono == true){
                self.seleccionarCuenta (self.idactual)
              }
              if (self.selecciono == false){
                  self.tomarCuenta ()
              }

          },
          

            tomarCuenta () { 
              console.log(this.cuentas);
              var self = this;
            self.bancoprimero = self.cuentas[0].nombrebanco;
            self.saldoprimero = self.cuentas[0].saldo;
            self.idcuenta_actual = self.cuentas[0].idcuenta;
             this.actualizarTransacciones () ;
          },
          













     },

     
        mounted: function (){
        
        
        var self = this;
        
        this.token = localStorage.getItem('tokenUsuario');
        console.log(this.token);
        this.config = {
          headers: {
            Authorization:this.token,
          }
        };
        console.log('mounted');

        this.axios.get('http://localhost:3000/Banks',this.config)
          .then(function (response) {
            console.log(response.data);

              self.bancos = response.data.map(banco => banco.nombre_banco);
              console.log(self.bancos);
          })
          .catch(function (errorbancos) {
            console.log(errorbancos);
          })

            
            this.obtenerCuentas ();

            this.tomarCuenta ();
        

        }
        

}
</script>















