<template>
 
    
    <v-container class="accent "  style="height:100vh" fluid> 
        <v-row justify="center"  style="height:100%" class="align-center " align-self="center" align="center">
            <v-col sm="5">
                <v-card  class=" white rounded-lg" > 
                <v-row justify="center" class="pt-0 pb-0" >
                    <v-col sm="3" class="pt-0 pb-0">
                        <v-img
                         src="../assets/logo.png"
                         >  
                        </v-img>
                    </v-col>
                </v-row>
                <v-row class="pb-3">
                    <v-col sm="4" class="pt-6 pb-0">
                        <v-btn  href="/" class="white" elevation="0" >
                            <v-icon class="ml-3" >mdi-arrow-left</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col sm="4" class="pl-2  ml-1 pb-0 ">
                        <v-card-title class="text-h6 font-weight-medium   lighten-2  text-end ">
                            REGISTRARSE
                        </v-card-title>
                    </v-col>
                </v-row>
                
                <v-form v-model="valid"  ref="form" lazy-validation @submit.prevent="registrarUsuario" >
                <v-row class="pl-7 pr-7">
                    <v-col sm="6" class="pt-0 pb-0">
                         <v-text-field
                        class="rounded-lg"
                        v-model="nombre"
                        :rules="nombreReglas"
                        :counter="40"
                        filled
                        dense
                        outlined
                        label="Nombre"
                        required
                        ></v-text-field>
                    </v-col>
                    <v-col sm="6" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="apellido"
                        :rules="apellidoReglas"
                        :counter="40"
                        filled
                        dense
                        outlined
                        label="Apellido"
                        required
                        ></v-text-field>

                    </v-col>
                </v-row>
                <v-row class="pl-7 pr-7">
                    <v-col sm="6" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="email"
                        :rules="emailReglas"
                         filled
                         dense
                        outlined
                        label="E-mail"
                        required
                        ></v-text-field>
                    </v-col>
                    <v-col sm="6" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="numero"
                        :rules="numeroReglas"
                        :counter="11"
                         filled
                         dense
                        outlined
                        label="Numero de Telefono"
                        required
                        ></v-text-field>
                    </v-col>

                </v-row>
                
                <v-row class="pl-7 pr-7">
                    
                    <v-col sm="6" class="pt-0 pb-0">
                    <v-text-field
                    :append-icon="contrasenaMostrar ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[contrasenaReglas.requerido, contrasenaReglas.minimo]"
                    :type="contrasenaMostrar ? 'text' : 'password'"
                    v-model="contrasena"
                    filled
                    dense
                    outlined
                
                    label="Ingrese su contraseña"
                    hint="Al menos 8 Caracteres"
                    class="input-group--focused rounded-lg"
                    @click:append="contrasenaMostrar = !contrasenaMostrar"
                    ></v-text-field>
                    </v-col>
                    <v-col sm="6" class="pt-0 pb-0">
                    <v-text-field
                    :append-icon="contrasenaMostrar2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[contrasenaReglas2.requerido, contrasenaReglas2.igual]"
                    :type="contrasenaMostrar2 ? 'text' : 'password'"
                    v-model="contrasena2"
                    filled
                    dense
                    outlined
                
                    label="Repita su contraseña"
                    class="input-group--focused rounded-lg "
                    @click:append="contrasenaMostrar2 = !contrasenaMostrar2"
                    ></v-text-field>
                    </v-col>


                </v-row>

                <v-row justify="center" class="pt-0 pb-0">

                    <v-col sm="12" class="pt-0 pb-0">
                        <v-card-subtitle class="text-center pt-0">
                            Fecha de nacimiento
                        </v-card-subtitle>
                    </v-col>

                   <v-col sm="2" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="dia"
                        :rules="diaReglas"
                        dense
                         filled
                        outlined
                        label="Dia"
                        required
                        ></v-text-field>
                    </v-col> 
                    
                   <v-col sm="2" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="mes"
                        :rules="mesReglas"
                        dense
                         filled
                        outlined
                        label="Mes"
                        required
                        ></v-text-field>
                    </v-col> 
                    
                   <v-col sm="2" class="pt-0 pb-0">
                        <v-text-field
                        class="rounded-lg"
                        v-model="ano"
                        :rules="anoReglas"
                         filled
                         dense
                        outlined
                        label="Año"
                        required
                        ></v-text-field>
                    </v-col> 
                  
                    
                       

              </v-row>

              <v-row  justify="center" class="pb-3 mb-2">
                    <v-btn
                    :disabled="!valid"
                    color="secondary"
                    class="white--text"
                    @click="validate"
                     type="submit"
                    >
                    REGISTRARSE
                    </v-btn>

              </v-row>

                <v-row>

                </v-row>

                </v-form>

                </v-card>
                <v-alert type="success" dense v-if="alerta" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                        </v-alert>
                    <v-alert type="error" dense v-if="alerta2" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                    </v-alert>
            </v-col>

        </v-row>
    </v-container>



</template>

<script>

  export default {
    name: 'Registrarse',
    data () {
        return {
            valid: true,
            apellido: '',
            nombre: '',
            email: '',
            dia: '',
            mes: '',
            ano: '',
            numero: '',
            fechanac:'',
            alerta: false,
            alerta2:false,
            mensaje:'',
            contrasenaMostrar: false,
            contrasenaMostrar2:false,
            contrasena: '',
            contrasena2: '',
            nombreReglas: [
                v => !!v || 'El nombre es requerido',
                v => v.length <= 40 || 'Menos de 40 caracteres',
            ],
            apellidoReglas: [
                v => !!v || 'El apellido es requerido',
                v => v.length <= 40 || 'Menos de 40 caracteres',
            ],
            emailReglas: [
                v => !!v || 'El E-mail es requerido',
                v => /.+@.+/.test(v) || 'El E-mail debe ser valido',
            ],
            contrasenaReglas: {
                requerido:  v => !!v || 'La contraseña es requerida',
                minimo: v => v.length >= 8 || 'Ingrese minimo 8 caracteres',
            },
            contrasenaReglas2: {
                requerido:  v => !!v || 'Ingrese de nuevo su contraseña',
                igual: v => v == this.contrasena || 'Las contraseñas no coinciden',
            },
            numeroReglas: [
                v => !!v || 'El numero es requerido',
                v => v.length <= 11 || 'Debe tener 11 digitos',
                v => v.length >= 11 || 'Debe tener 11 digitos',
                v => v <= 100000000000 || 'Debe ser un dato numerico',
            ],
            diaReglas: [
                v => !!v || 'Requerido',
                v => v <= 31 || 'No valido',
                v => v.length < 3 || 'No valido',
                v => v != 0 || 'No valido',
                v => v >= -1 || 'No valido',
            ],
            mesReglas: [
                v => !!v || 'Requerido',
                v => v <= 12 || 'Error',
                v => v.length < 3 || 'No valido',
                v => v != 0 || 'No valido',
                v => v >= -1 || 'No valido',
            ],
            anoReglas: [
                v => !!v || 'Requerido',
                v => v <= 2002 || 'No valido',
                v => v != 0 || 'No valido',
                v => v >= -1 || 'No valido',
            ],
        }
    },
    methods: {
        validate () {
            this.$refs.form.validate()
            if (this.dia < 10 && this.dia.length == 1 ) {
                this.dia =`0${this.dia}`;
            };
            if (this.mes < 10 && this.mes.length == 1 ) {
                this.mes =`0${this.mes}`;
            };
            this.fechanac = `${this.dia}/${this.mes}/${this.ano}`;
        },
        
        async registrarUsuario (){
            var payload = {
                Nombre: this.nombre,
                Apellido: this.apellido,
                F_nacimiento: this.fechanac,
                Num_telf: this.numero,
                Email: this.email,
                contraseña: this.contrasena,
                confirmar_contraseña: this.contrasena2
            };
            await this.axios.post('http://localhost:3000/register',payload).then(response => {
                console.log(response.data);
                console.log(response.data.msg);
                this.mensaje = response.data.msg;
                this.alerta = true;
                this.alerta2 = false;
                 this.timeout ();
                
            })
            .catch(error => {
                this.mensaje = error.response.data.msg;
                this.alerta2 = true;
                this.timeout2 ()
            })
            

          
        },
            timeout(){
                setTimeout(  ()=>{
                    this.$router.push({ path: '/' })
            },1000);
        },
         timeout2(){
                setTimeout(  ()=>{
                    this.alerta2 = false;
            },3500);
        },
    }


  }
</script>

               
                     